{% block content %}
{% endblock %}
    <footer>
    <div class="footer-content">
        <h3>MedAware.co</h3>
        <p>"Stay informed, stay ahead - let our disease check guide you through life's uncertain thread."</p>
        <p>
          Want to contribute ? 
          <img class="github" src="{{url_for('static',filename='../static/resources/github-4.png')}}">
        </p>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023. designed by <span><a href="https://github.com/Gaurav07076">Gaurav, </a></span><span><a href="https://github.com/samyak269"> Samyak & </a></span><span><a href=https://github.com/The-Prithwiraj06>Prithwiraj. </a ></span></p>
    </div>
  </footer>

  {% block content %}
  {% endblock %}